.h2 {
    text-decoration: underline;
    text-decoration: green;
}

.fruitCard {
    border: 3px dotted;
    border-width: 0.25rem;
    border-color: rgb(213, 255, 223);
    border-radius: 7px;
    padding: 0rem;
    margin: 2rem;
    background-color: rgb(157, 186, 106);
    color: honeydew;
}

.fruitCard button {
    background-color: darkgreen;
    margin: 1rem;
}

.fruitCard:hover {
    background-color: rgba(151, 190, 83, 0.5);
}

.fruitCard button:hover{
    background-color: rgb(202, 231, 202);
    color: darkgreen;
}