ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: cornflowerblue;
    margin: 0rem;
    padding: 2rem 20rem;
}

ul li {
    text-decoration: none;
    padding: 0.25rem;
}
ul li:hover {
    color: darkblue;
    background-color: rgba(117, 248, 255, 0.5);
    border-radius: 5px;
}