ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: darkgreen;
    margin: 0rem;
    padding: 2rem 20rem;
    color: white;
}

ul li {
    text-decoration: none;
    padding: 1rem;
}
ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(157, 186, 106, 0.75);
    border-radius: 2px;
}